<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.2.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">
		
	<!-- hey spring you have to manage the below beans and take care of instantiation for me -->
 	<bean class="org.jnit.loosecoupling.Circle" id="circle" scope="prototype"/>
 	<bean class="org.jnit.loosecoupling.Triangle" id="triangle"/>
 	<bean class="org.jnit.loosecoupling.Rectangle" id="rectangle"/>
	<!-- ref here refers an existing spring bean -->
	<!-- setter based dependency  injection(created shapecreator object and set dependencies on it) -->
	<!-- 
	<bean class="org.jnit.loosecoupling.ShapeCreator" id="sc">
		<property name="shape" ref="triangle"/>
	</bean>
	-->
	
	<!-- constructor based dependency injection(while creating the shapecreator object it sets the dependencies) -->
	 
	 <bean class="org.jnit.loosecoupling.ShapeCreator" id="sc">
	 	<constructor-arg name="shape" ref="circle"/>
	 </bean>
	 

</beans>
